.login_box_area {
    margin: 20px;
}

.login_box_area .login_box_img {
    position: relative;
}

.login_box_area .login_box_img .hover {
    position: absolute;
    top: 50%;
    left: 0px;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
}

.login_box_area .login_box_img .hover h4 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 15px;
}

.login_box_area .login_box_img .hover p {
    max-width: 350px;
    margin: 0px auto 25px;
    color: #fff;
}

.login_box_area .login_box_img .hover .main_btn {
    border-radius: 0px;
    line-height: 40px;
    text-transform: uppercase;
}

.login_form_inner {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
    height: 100%;
    text-align: center;
    padding-top: 35px;
}

.login_form_inner h3 {
    color: #222222;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 40px;
}

.login_form_inner .login_form {
    max-width: 380px;
    margin: auto;
}

.login_form_inner.reg_form {
    padding-top: 60px;
}

.login_form_inner.reg_form h3 {
    margin-bottom: 70px;
}

.login_form .form-group input {
    height: 54px;
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

.login_form .form-group .creat_account {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.login_form .form-group .creat_account input {
    height: auto;
    margin-right: 10px;
}

.login_form .form-group .submit_btn {
    display: block;
    border-radius: 0px;
    width: 100%;
    text-transform: uppercase;
}

.login_form .form-group a {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    display: block;
}

.main_btn {
    display: inline-block;
    background: #142850;
    padding: 0px 30px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    border: 1px solid#142850;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #142850;
    cursor: pointer;
    transition: all 300ms linear 0s;
    border-radius: 5px;
}

.main_btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#eye {
    float: right;
    margin-right: 0px;
    margin-top: -35px;
}

.container input:checked~.checkmark {
    background-color: #142850;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.submit_btn {
    display: inline-block;
    background: #142850;
    padding: 0px 30px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
    border: 1px solid #142850;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #142850;
    cursor: pointer;
    transition: all 300ms linear 0s;
}

.submit_btn:hover {
    background: transparent;
    color: #142850;
}

.strong {
    font-weight: 900;
}

.reset {
    display: inline-block;
    background: #ccc;
    padding: 0px 30px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
    border: 1px solid #ccc;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 300ms linear 0s;
}

.error_form {
    color: #f90a0a;
    margin-top: 30px;
}

.text-alert {
    line-height: 1.5em;
    font-size: 1em;
    font-weight: 600;
}

#eye {
    margin-right: 5px;
    max-width: 100%;
}

.position-numero {
    margin-top: 23px;
}